h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}




video#video-start {
  opacity: 0.5;
}

#services {
  background-color: #292E35;
}

#more-info {
  background: #005BDE;
}
